@font-face {
    font-family: "Rubrik-Bold";
    src: url('../../assets/Rubrik-Bold.otf');
}
@font-face {
    font-family: "Auger Mono Regular";
    src: url('../../assets/Auger Mono Regular.otf');
}
.subhero__container {
    margin: 5vh auto;
    display: flex;
    align-items: center;
}
.subhero__picture {
    width: 50%;
    object-fit: contain;
}
.subhero__description {
    width: 50%;
    text-align: left;
    padding: 0 5%;
}
.subhero__description > h2 {
    font-family: "Rubrik-Bold";
}
.subhero__description > h3 {
    font-family: "Auger Mono Regular";
}
@media(max-width:576px){
    .subhero__container {
        flex-direction: column;
    }
    .subhero__picture {
        width: 100%;
    }
    .subhero__description {
        width: 80%;
    }
}
