.contacts__background {
   position: absolute;
   display: grid;
   grid-template-columns: 35% 35%;
   gap: auto;
   justify-content: space-between;
   width: 100%;
   min-height: 100vh;
   z-index: 0;
   left: 0;
   margin-top: 8vh;
   align-items: center;
   overflow: hidden;
}
.contacts__background > div > img {
   object-fit: contain;
   width: 70%;
}
.contacts__container {
   position: relative;
   z-index: 2;
   margin-top: 10vh;
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100vh;
}
.contacts__symbol {
   width: 100%;
}
.contacts__upper-side {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10% 44% 44%;
    gap: 1%;
    width: 90vw;
    height: auto;
}
.contacts__lower-side {
   margin-top: 50px;
   padding: 0;
   width: 90vw;
   display: flex;
   justify-content: center;
}

 @media (max-width: 576px) {
   .contacts__background {
      display: none;
   }
   .contacts__upper-side {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1%;
      width: 90vw;
      height: auto;
  }
  .contacts__symbol {
      width: 20%;
      position: relative;
      margin-bottom: 2vh;
  }
 }