    .logo__container {
        display: flex;
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: left;
    }
    .logo__icon {
        width: 25%;
    }
    .logo__logotype {
        margin-left: 2%;
    }
    .logo__logotype > h1{
        font-family: "Kit Rounded";
    }
    .logo__logotype > h3{
        font-family: "Auger Mono";
    }
    .logo__logotype * {
        color: #E2E2E2;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    @media(max-width:576px){
        .logo__icon {
            width: 20%;
        }
        .logo__logotype > h1{
            font-size: 7vw !important;
        }
        .logo__logotype > h3{
            font-size: 3vw !important;
        }
    }