  .hero__container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
  }
  .hero__right-side {
    position: absolute;
    z-index: 1;
    width: auto;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    bottom: 0;
    left: 48%;
  }
  .hero__left-side {
    position: absolute;
    left: 10vw;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    z-index: 2;
  }
  .hero__left-side > *:nth-child(2) {
    height: 25vh;
    width: 40%;
  }
  .hero__logo-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: left;
  }
  .hero__logo-icon {
    width: 13%;
  }
  .hero__logo-logotype {
    margin-left: 1%;
    opacity: 60%;
  }
  .hero__logo-logotype > h1{
    font-family: "Kit Rounded";
    font-size: 3vw;
  }
  .hero__logo-logotype > h3{
    font-family: "Auger Mono";
    font-size: 1.5vw;
  }
  .hero__logo-logotype * {
    color: #E2E2E2;
    margin: 0;
    padding: 0;
    text-align: left;
  }   
  .chevron {
    cursor: pointer;
    height: 3vw;
    width: 3vw;
    display: flex;
    flex-direction: column;
  }
  .chevron > img {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .chevron:hover > img:nth-child(2) {
    opacity: 100%;
    transition: linear;
    transition-duration: 0.3s;
  }
  .chevron > img:nth-child(2) {
    margin-top: -20%;
    width: auto;
    opacity: 0%;
    transition: linear;
    transition-duration: 0.3s;
  }

    /* Tablet (768px - 991px) */
  @media (min-width: 768px) and (max-width: 991px) {
    .hero__left-side {
      gap: 5vh;
      position: absolute;
      justify-content: start;
      left: 10%;
      top: 10%;
      width: 100%;
    }
    .hero__left-side > *:nth-child(2) {
      height: 18%;
      width: 40%;
    }
    .hero__right-side {
      position: absolute;
      z-index: 1;
      width: 100vw;
      height: auto;
      bottom: -10%;
      left: 30%;
    }
    .chevron {
      width: 8vw;
      height: 8vw;
    }
    .hero__logo-container {
      justify-content: baseline;
    }
    .hero__logo-icon {
        width: 20%;
    }
    .hero__logo-logotype > h1{
        font-size: 4rem;
    }
    .hero__logo-logotype > h3{
        font-size: 2rem;
    }
  }

  /* Mobile (≤ 767px) */
  @media (max-width: 767px) {
    .hero__left-side {
      gap: 5vh;
      position: absolute;
      justify-content: start;
      left: 10%;
      top: 10%;
      width: 100%;
    }
    .hero__left-side > *:nth-child(2) {
      height: 18%;
      width: 45%;
    }
    .hero__right-side {
      position: absolute;
      z-index: 1;
      width: 100vw;
      height: auto;
      bottom: 0%;
      left: 30%;
    }
    .chevron {
      width: 8vw;
      height: 8vw;
    }
    .hero__logo-container {
      justify-content: baseline;
    }
    .hero__logo-icon {
        width: 20%;
    }
    .hero__logo-logotype > h1{
        font-size: 1.5rem;
    }
    .hero__logo-logotype > h3{
        font-size: 1rem;
    }
  }

  @media (max-height: 767px) and (orientation: landscape){
    .hero__right-side {
      position: absolute;
      z-index: 1;
      width: auto;
      height: 100vh;
      object-fit: contain;
      overflow: hidden;
      bottom: 0;
      left: 48%;
    }
    .hero__left-side {
      position: absolute;
      left: 10vw;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      z-index: 2;
    }
    .hero__left-side > *:nth-child(2) {
      height: 30%;
      width: 40%;
    }
    .hero__logo-container {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: left;
    }
    .chevron {
      width: 8vh;
      height: 8vh;
    }
    .hero__logo-container {
      justify-content: baseline;
    }
    .hero__logo-icon {
        width: 15%;
    }
    .hero__logo-logotype > h1{
        font-size: 2.4rem;
    }
    .hero__logo-logotype > h3{
        font-size: 1.2rem;
    }
  }