.oneliner__container {
    line-height: 2vw;
    width: 70%;
    height: 50%;
    text-align: left;
    position: relative;
    display: inline-block;
}

.oneliner__static-text {
    font-family: "Auger Mono";
    color: #FFFFFF;
    font-size: 2vw;
}

.oneliner__dynamic-text {
    font-family: "Auger Mono";
    font-size: 2vw;
    color: #6CE0FF;
}

.typed-cursor {
    font-size: 2vw;
}

@media (orientation: portrait) {
    .oneliner__container {
        line-height: 3.5vw;
    }
    .oneliner__static-text {
        font-size: 3.5vw;
    }
    .oneliner__dynamic-text {
        font-size: 3.5vw;
    }
    .typed-cursor {
        font-size: 3.5vw;
    }
}

@media (max-width: 767px){
    .oneliner__container {
        line-height: 1rem;
        width: 55%;
    }
    .oneliner__static-text {
        font-size: 1rem;
    }
    .oneliner__dynamic-text {
        font-size: 1rem;
    }
    .typed-cursor {
        font-size: 1rem;
    }
}