@font-face {
    font-family: "Auger Mono";
    src: url('../../assets/Auger Mono Regular.otf');
}

.oneliner__container {
    padding: 0;
    margin: auto auto auto auto;
    line-height: 30px;
    width: 70%;
    height: 40%;
    text-align: left;
    position: relative;
    display: inline-block;
}

.oneliner__static-text {
    font-family: "Auger Mono";
    color: #FFFFFF;
    font-size: 30px;
}

.oneliner__dynamic-text {
    font-family: "Auger Mono";
    font-size: 30px;
    color: #6CE0FF;
}

.typed-cursor {
    font-size: 30px;
}

@media(max-width:992px){
    .oneliner__container {
        line-height: 15px;
        width: 50%;
        margin-left: 10%;
    }
    .oneliner__static-text {
        font-size: 17px;
    }
    .oneliner__dynamic-text {
        font-size: 17px;
    }
    .typed-cursor {
        font-size: 17px;
    }
}