.experiences__container {
    display: flex;
    flex-direction: column;
}
.experiences__upper-side {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10% 44% 44%;
    gap: 1%;
    width: 90vw;
    height: 50vh;
}
.experiences__symbol {
    width: 100%;
}
.experiences__text {
    font-family: Inter;
    font-weight: normal;
    text-align: left;
    width: 90%;
    margin-top: 8vh;
}
.experiences__cv-button-container {
    height: 10%;
    margin-left: auto;
}
.experiences__cv-button-container > a {
    background-color: #B9F08D;
    color: #1F1F23;
    padding: 10px 20px;
    border-radius: 14px;

    &:hover{
        background-color: #1F1F23;
        color: white;
        border: solid 2px #B9F08D;
    }
}
.experiences__lower-side {
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 70vh;
}
.experiences__navbar {
    border-bottom: solid 5px #B9F08D;
    margin: 0;
    padding: 0;
    margin-left: 10vw;
    display: flex;
}
.experiences__navbar > button {
    padding: 5px 10px 2px 10px;
    margin: 0 10px;
    border-radius: 6px 6px 0px 0px;

    &:hover {
        border-color: #B9F08D;
        border-bottom-color: transparent;
    }
}
.experiences__navbar > button:nth-child(1) {
    margin: 0 10px 0 0;
}
.experiences__lower-side > h4 {
    margin: 0;
    padding: 0;
    width: 70%;
    height: auto;
    text-align: left;
    margin-left: 10vw;
    margin-top: 10vh;
}

@media (max-width: 576px) {
    .experiences__container {
        margin-top: 10vh;
    }
    .experiences__upper-side {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1%;
        width: 90vw;
        height: auto;
    }
    .experiences__symbol {
        width: 20%;
        position: relative;
        margin-bottom: 2vh;
    }
    .experiences__lower-side {
        padding-top: 10vh;
    }
    .experiences__navbar {
        margin-left: 0vw;
        font-size: 0.65rem;
    }
    .experiences__lower-side > h4 {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 5vh;
    }
}