@font-face {
    font-family: "Rubrik-Bold";
    src: url('../../assets/Rubrik-Bold.otf');
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #17171B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
  
.navbar__logo {
   width: 25vh;
}
  
.navbar__links > a {
    text-decoration: none;
    font-family: "Rubrik-Bold";
    color: white;
    padding: 0.5rem 1rem;

    &:hover {
      color: #555;
    }
}

@media(max-width:576px){
    .navbar {
        display: none;
    }
}